#header{
    background-color: deepskyblue;
    color: yellow;
    font-family: "Apple Chancery";
    height: 100px;
    width: 100%;
    position:fixed;
    text-align: center;
}
#sidebar{
    height: 700px;
    width: 20%;
    position:fixed;
    top:108px;
    display:inline-block;
    background-color: ivory;
}
#main{
    background-color: aliceblue;
    height: 700px;
    width: 80%;
    left:20%;
    top:100px;
    position:relative;
    overflow: scroll;
    display:inline-block;
}
.tuht_show {
    font-family: "Telugu Sangam MN";
    color: firebrick;
}
#main p {
    font-family: "Time New Roman";
    text-align: justify;
    text-indent:30px;
}